.tag {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  min-width: max-content;
}

.tag__color {
  background-color: #afafaf;
  border-radius: 8px;
  width: max-content;
  /* min-width: 30px; */
  aspect-ratio: 1/1;
  /* margin: 0.5rem; */
}
