.task-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  justify-content: space-between;
  padding: 0.7rem 0.5rem;
  margin: 1rem 1rem;
}

.task-row__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 1rem;
  width: 100%
}

.task-row__info {
  display: flex;
  flex-direction: column;
}

.task-row__title {
  margin-bottom: 0.5rem;
}