.reg_pageContainer {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    margin-top: 3dvh;
    margin-right: 7dvw;
    margin-left: 7dvw;
    margin-bottom: 7dvw;
}

.reg_image {
    display: flex;
    justify-content: center;
}

.reg_form {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
}

.reg_form_fields {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.reg_form_btn {
    margin-top: 2rem;
    width: 70%;
    align-self: center;
}

.edit-icon {
    margin-right: 1%;
}

.login__link {
    display: flex;
    align-self: center;
    margin-top: 1vh;
}
