.add-task__pageContainer {
  margin: 2rem;
}

.add-task__form {
  display: flex;
  flex-direction: column;
}

.add-task_buttons {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
}

.add-task__btn {
  width: 45%;
  min-width: max-content;
}
