.pageContainer {
  display: flex;
  justify-content: center;
  padding: 10%;
  height: 100%;
}

.add_event__form {
  display: flex;
  flex-direction: column;
  height: 100%;

  /* row-gap: 0px;
  grid-template-columns: repeat(auto-fill, minmax(100%, auto)); */
  /* grid-template-columns: repeat(2, 50%); */
}

.add_event_buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2vh;
}
