.add-event__pageContainer {
  margin: 2rem;
}

.add-event__form {
  display: flex;
  flex-direction: column;
}

.add-event_buttons {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
}

.add-event__btn {
  width: 45%;
  min-width: max-content;
}
