.my-tasks__done {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-top: 1.5rem;
}

.my-tasks__done:hover {
  cursor: pointer;
}

.filter__container {
  position: relative;
  display: inline-block;
  width: fit-content;
}

.filter__button {
  background-color: transparent;
  color: var(--secondary-text-color);
  cursor: pointer;
  margin: 1rem 0 0 1rem;
}

.filter__button.active {
  color: var(--primary-color);
}

.filter__list {
  position: absolute;
  top: 100%;
  left: 1rem;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.25rem;
}

.filter__list::before{
  content: '';
  position: absolute;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right:8px solid white;
  left:7px;
  top:-12px;
  transform: rotate(90deg);
}

.filter__list.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(5px);
  transition: 500ms ease;
}

.filter__list.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3px);
  transition: 300ms ease-in;
}

