.reset_pageContainer {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    margin: 7vh 7vw;
}

.reset_image {
    display: flex;
    justify-content: center;
}

.reset_form {
    display: flex;
    flex-direction: column;
    margin-top: 7vh;
}

.reset_form_fields {
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.reset_form_btn {
    margin-top: 7vh;
    width: 70%;
    align-self: center;
    font-size: 1rem;
}

.reset_text {
    align-self: center;
    font-size: medium;
    text-align: center;
    font-weight: 500;
}