.app {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow-y: hidden;
}

.app__header {
  flex: 1 1;
}

.app__content {
  flex: 1;
  overflow-y: auto;
  /* margin-top: 1vh; */
}

.app__bottom {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12);
  position: sticky;
  width: 100%;
  bottom: 0;
}
