.btn {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  outline: none;
  border: thin solid var(--primary-color);
  padding: 0.5rem 2rem 0.5rem 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;
  font-family: 'Heebo', Verdana, 'sana-serif';
}

.btn__primary {
  background: var(--primary-color);
  color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.btn__secondary {
  background: var(--secondary-bg-color);
  color: var(--primary-color);
}

.btn:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

.btn__primary:disabled {
  border-color: lightgray;
  box-shadow: none;
  background: lightgray;
  color: gray;
}

.btn__secondary:disabled {
  border-color: lightgray;
  background: transparent;
  color: lightgray;
}

.btn:disabled:hover {
  transform: none;
  filter: none;
  cursor: not-allowed;
}