:root {
  --primary-color: #8A64D6;
  --secondary-color: #D8CCF2;
  --primary-text-color: #000000;
  --secondary-text-color: #323232;
  --primary-bg-color: #FBFBFF;
  --secondary-bg-color: #FFFFFF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}