.pageContainer {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.fieldsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dateRowContainer {
  display: flex;
  flex-direction: row;
}

.btnContainer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
}

.display__button {
  width: 45%;
  min-width: max-content;
}
